body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #2b4340, #1a2e37);
    font-family: PT Sans;
}

#main-container {
    width: 960px;
    height: 560px;
    background-color: #ffffff;
    margin: 0 auto;
}

#header {
    background-image: url('../images/panel.png');
    width: 960px;
    height: 56px;
}

#image-section {
    width: 40%;
    height: 100%;
    float: left;
}

#nav-bar-section {
    width: 60%;
    float: left;
}

#main-icon {
    height: 50px;
    width: 70px;
    padding-left: 7%;
    padding-top: 1%;
}

#nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navs {
    float: right;
    margin-left: 3%;
    margin-right: 6%;
    margin-top: 4%;
}

.navs a {
    text-decoration: none;
    color: #ffffff;
    width: 40px;
}

#divider {
    height: 1%;
    border: none;
    color: #132632;
    background-color: #132632;
}

#active {
    font-weight: bold;
    border: solid;
    border-width: 1px;
    padding: 1px 8px 1px 8px;
}

#profile-img {
    height: 100px;
    width: 100px;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-top: 8%;*/
}

#profile {
    font-family: PT Sans;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    margin-top: 15%;
    margin-left: 10%;
    height: 40%;
    width: 90%;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-radius: 25px;*/
    /*text-align: center;*/
    /*background-color: gray;*/
}

#body-content {
    width: 100%;
    height: 90%;
    margin: 0 auto;
}

#left-section {
    width: 30%;
    height: 100%;
    float: left;
}

#right-section {
    width: 70%;
    height: 100%;
    float: left;
}

#tooltip.visible {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: PT Sans;
    font-size: 10px;
    line-height: 15px;
}
#dialog-modal{
    font-family: open-sans;
    font-size: 10px;
}

#popup-repo-name{
    font-family: open-sans;
    font-size: 5px;
}

