<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/contactus.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="shortcut icon" href="../static/images/github-explorer-favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans">
</head>
<body>
<div id="main-container">
    <div id="header">
        <div id="image-section">
            <img src="../static/images/github-explorer-icon.png" id="main-icon">
        </div>
        <div id="nav-bar-section">
            <ul id="nav-list">
                <li class="navs"><a id="active" href="/contactus">&nbsp;Contact Us&nbsp;</a></li>
                <li class="navs"><a href="/start">&nbsp;Start&nbsp;</a></li>
                <li class="navs"><a href="/">&nbsp;Home&nbsp;</a></li>
            </ul>
        </div>
    </div>
    <div id="body-content">
        <p>Members</p>
            <ul>
                <li><p>Linya Huang (lhuang56@illinois.edu)</p></li>
                <ul id ="contact-list">
                    <li><p>Graduate, School of Art and Design</p></li>
                </ul>
                <li><p>Madhushree Sreenivasa (sreenvs2@illinois.edu)</p></li>
                <ul id ="contact-list">
                    <li><p>Graduate, College of Computer Science</p></li>
                </ul>
                <li><p>Sharanya Bathey (bathey2@illinois.edu)</p></li>
                <ul id ="contact-list">
                    <li><p>Graduate, College of Computer Science</p></li>
                </ul>
                <li><p>Tejala Thippeswamy (thippes2@illinois.edu)</p></li>
                <ul id ="contact-list">
                    <li><p>Graduate, College of Computer Science</p></li>
                </ul>
            </ul>
        </div>
        </div>
    </div>
</div>
</body>
</html>