<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Social Coding</title>
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="shortcut icon" href="../static/images/github-explorer-favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans">
</head>
<body>
    <div id="main-container">
        <div id="header">
            <div id="nav-bar-section">
                <ul id="nav-list">
                    <li class="navs"><a href="/contactus">&nbsp;Contact Us&nbsp;</a></li>
                    <li class="navs"><a href="/start">&nbsp;Start&nbsp;</a></li>
                    <li class="navs"><a id="active" href="/">&nbsp;Home&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>